* {
    padding: 0;
    margin: 0;
}

/* align items and flex */
#section {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

/* styling form content area*/
.input-container{
    background-color: rgba(255, 255, 255, 0.921);
    width: 30rem;
    margin-top: 12rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 90px 5px rgb(0, 0, 0);
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 1rem;
}

/* background image set */
body{
    background-image: url('bg-img.jpg');
    background-size: cover;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.email-label, #email-input{
    position: relative;
    left: 0.17rem;
}

.phone-label, #phone-input {
    position: relative;
    right: 0.02rem;
}

.pass-label, #pass-input {
    position: relative;
    right: 0.69rem;

}
.Cpass-label, #Cpass-input {
    position: relative;
    right: 2.527rem;

}
.inputbox{
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border-width: 1px;
}

.btn{
    border-color: rgb(28, 8, 8);
    border-width: 2px;
    border-radius: 0.5rem;
    background-color: rgb(29, 33, 68);
    margin: 10px;
    width: 15vmin;
    height: 4.5vmin;
    color: aliceblue;
    cursor: pointer;
}

p{
    color: red;
}